<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>新規登録 - CRUD_Sample</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>新規登録</h1>
      <form th:action="@{/users}" th:method="post" th:object="${user}">
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
          <label class="control-label">名前</label>
          <input class="form-control" type="text" th:field="*{name}" />
          <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('age')}? has-error">
          <label class="control-label">年齢</label>
          <input class="form-control" type="number" th:field="*{age}" />
          <span class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('height')}? has-error">
          <label class="control-label">身長</label>
          <input class="form-control" type="number" th:field="*{height}" />
          <span class="text-danger" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></span>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('weight')}? has-error">
          <label class="control-label">体重</label>
          <input class="form-control" type="number" th:field="*{weight}" />
          <span class="text-danger" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></span>
        </div>
        <button class="btn btn-default" type="submit">作成</button>
      </form>
      <div class="pull-right">
        <a class="btn btn-link" href="/users">一覧画面へ</a>
      </div>
    </div>
  </body>
</html>